/* Base ---------------------------------------------------------------- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #445282;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 34pt;
    padding-bottom: 14pt;
}

p,
li {
    color: #3C3C3C;
    font-size: 14pt;
    line-height: 24pt;
}

a {
    color: #445282;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
}

pre {
    position: relative;
    padding: 1.5rem;
    background: #F8F9FB;
    color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: auto;
}

p code {
    font-size: 0.9em;
    background: #EFF1F5;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

thead tr:last-child {
    font-size: 1.2rem;
}

thead tr:last-child {
    border-bottom: 1px solid #C2C2C2;
}

td,
th {
    padding: 15px;
}

/* General layout ------------------------------------------------------ */

.page {
    position: relative;
    z-index: 0;
}

.container {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.background {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.container,
.background {
    height: 100%;
    width: 100%;
}

.background .header {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 160px;
    justify-content: center;
}

.background .sidebars {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.background .header .search {
    max-width: 760px;
    flex-grow: 1;

    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;

    box-sizing: border-box;
}

.background .header .header-dummy-right,
.background .header .logo {}

.sidebar-right,
.sidebar-left {
    pointer-events: auto;
}

.container .content-dummy-left,
.container .content-dummy-right,
.background .header .header-dummy-right,
.background .header .logo,
.background .sidebar-left,
.background .sidebar-right {
    width: 330px;
    min-width: 330px;
    padding: 40px;
    box-sizing: border-box;
}

.sidebar-dummy-center {
    width: 100%;
    max-width: 760px;
    flex-grow: 1;
    padding: 80px;

    box-sizing: border-box;
}

.content {
    position: relative;
    z-index: 10;
    pointer-events: auto;
    max-width: 760px;
    flex-grow: 1;
    padding: 80px;
    margin-top: 160px;

    box-sizing: border-box;
}

.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child {
    font-weight: 400;
    margin-top: 0;
}

.wave-container {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wave-container svg {
    position: absolute;
    bottom: 0;
}

.menu-toggle-button-open,
.menu-toggle-button-close,
#menu-toggle-switch {
    display: none;
}

/* Changes to apply to "large" devices
 *
 * * Hide right navigation
 *
 */
@media screen and (max-width: 1200px) {

    .header-dummy-right,
    .content-dummy-right,
    .sidebar-right {
        display: none;
    }

    .search {
        padding-right: 10px;
        padding-left: 10px;
    }

    .content {
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* Changes to apply to "medium" devices
 *
 * * Hide main left navigation
 * * Start showing the menu toggle button
 * * Remove page shadow
 *
 */
@media screen and (max-width: 768px) {

    .content-dummy-left,
    .sidebar-dummy-center,
    .sidebar-dummy-right {
        display: none;
    }

    .background .sidebars .sidebar-left {
        overflow: hidden;
    }

    .background .header {
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    .background .header .logo {
        flex: 0 0 100%;
        width: 100%;
        height: 100px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .background .header .logo .project-name {
        margin-top: 20px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .background .header .search {
        box-sizing: content-box;
        padding-left: 40px;
        padding-right: 40px;
        height: 40px;
    }

    .container {
        justify-content: flex-start;
    }

    .container .content {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 200px;
        padding: 40px;
        box-shadow: none;
        box-sizing: content-box;
        border: 1px solid #E3E3E3;
        width: inherit;
    }

    .wave-container {
        display: none;
    }

    .menu-toggle-button {
        display: block;
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        left: 15px;
        font-size: 1.6rem;
        height: 25px;
        width: 25px;
        background: #445282;
        color: white;
        padding: 10px;
        border-radius: 25px;
        line-height: 1.45rem;
        text-align: center;

        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    #menu-toggle-switch:checked+.page .background .sidebars {
        overflow: auto;
        justify-content: flex-start;
    }

    #menu-toggle-switch:checked+.page {
        overflow: hidden;
    }

    #menu-toggle-switch:checked+.page .container {
        overflow: hidden;
        justify-content: flex-start;
    }

    #menu-toggle-switch:checked+.page .background .sidebars .sidebar-left {
        overflow: auto;
        width: 95%;
    }

    #menu-toggle-switch:checked+.page .container .content {
        margin-left: 95%;
        height: 100%;
    }
}

/* Changes to apply to "small" devices
 *
 * * Hide right navigation
 *
 */
@media screen and (max-width: 576px) {
    .container .content {
        min-width: 100%;
        box-sizing: border-box;
    }
}

/* Main content -------------------------------------------------------- */

.content {
    background: #FFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.07);
    border-radius: 10px 10px 0px 0px;
}

/* Left sidebar -------------------------------------------------------- */

.sidebar-left {
    height: calc(100% - 250px);
    overflow: auto;
}

.project-name {
    margin-top: 10px;
}

.project-name:after {
    content: "DOCS";
    font-size: 12pt;
    display: block;
    color: #445282;
    opacity: 56%;
}

.project-name a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

nav {}

nav a {
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid #445282;
}

nav ul {
    list-style: none;
    padding-left: 0pt;
}

nav ul li {
    line-height: 32pt;
}

nav ul ul li {
    line-height: 24pt;
}

nav ul a {
    font-size: 14pt;
    font-weight: 700;
}

nav ul ul {
    padding-left: 30pt;
    padding-top: 10pt;
    padding-bottom: 14pt;
}

nav ul ul a {
    font-size: 14pt;
    font-weight: 400;
    color: #545454;
}



/* Right sidebar ------------------------------------------------------- */

.sidebar-right {
    padding-top: 180px;
}

.page-nav-header {
    text-transform: uppercase;
    color: #CECECE;
    margin-bottom: 10pt;
    font-size: 12pt;
    font-weight: 600;
}

.sidebar-right hr {
    border: 1px solid #E5E5E5;
    margin-top: 0pt;
    margin-bottom: 5pt;
}

.sidebar-right ul {
    list-style: none;
    padding-left: 0pt;
}

.sidebar-right li a {
    font-size: 14pt;
    font-weight: 400;
    color: #626262;
    text-decoration: none;
}

.sidebar-right li a:hover {
    border-bottom: 1px solid #445282;
}

.sidebar-right a:hover {}

.sidebar-right li {
    line-height: 30pt;
}

.sidebar-right li.page-nav-level-2 {
    padding-left: 20px;
}

.sidebar-right li.page-nav-level-3 {
    padding-left: 40px;
}

.sidebar-right li.page-nav-level-4,
.sidebar-right li.page-nav-level-5,
.sidebar-right li.page-nav-level-6 {
    display: none;
}


/* Search -------------------------------------------------------------- */

.search #search-form {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.search #search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
}

#search-results {
    z-index: 11;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075);
    position: absolute;
    margin-top: 0;
    padding: 10px;
    padding: 0;
    background: none;
    width: 100%;
    list-style: none;
    border-radius: 10px;
    margin-left: -80px;
    width: 100%;
    top: -65px;
    box-sizing: border-box;
}

#search-results li {
    margin: 0;
    margin-top: -1px;
    border: 1px solid #E3E3E3;
    background: #FFF;
}

#search-results a {
    padding: 15px;
    width: 100%;
    display: inline-block;
    text-decoration: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#search-results a:hover,
#search-results a:focus {
    background: #F4F4F4;
    outline: none;
}

#search-results .search-result-item-preview {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #9B9B9B;
    text-decoration: none !important;
    font-size: 1rem;
}

#search-results li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}

#search-results li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
