<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>My Docs</title>
    <meta name="description" content="Something">
    <meta name="author" content="Some Author">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/normalize.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="screen" />
    <script type='text/javascript' src="/livereload.js?port=35729" async="" defer=""></script>
</head>

<body>
    <div class='container'>
        <div class='sidebar'>
            {{> navigation level=navigation }}
        </div>
        <div class='content'>
            {{> search }}
            {{{ content }}}
        </div>
    </div>

    <script type="text/javascript" src="/assets/mermaid.js"></script>
    <script type="text/javascript" src="/assets/elasticlunr.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
</body>

</html>
