<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>My Docs</title>
    <meta name="description" content="Something">
    <meta name="author" content="Some Author">

    <script type='text/javascript' src="/livereload.js?port=35729" async="" defer=""></script>
</head>

<body>
    {{> navigation level=navigation }}
    {{{ content }}}

    <script src="/assets/mermaid.js"></script>
    <script>
        let nodes = document.getElementsByClassName("language-mermaid");
        for (var i = 0; i < nodes.length; i++) {
            graph = nodes[i];
            graph.style.display = 'none';

            el = document.createElement("div");
            el.className = "mermaid";
            el.innerHTML = graph.innerHTML;

            graph.parentNode.insertBefore(el, graph);
        }

        mermaid.initialize({
            startOnLoad: true
        });
    </script>
</body>

</html>
