h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.0rem;
    margin-top: 3rem;
    color: #555454;
}

h1:first-of-type {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.7em;
    text-align: left;
    font-weight: 600;

    color: #FF8552;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3C3C3C;
}

body,
html {
    height: 100%;
}

a {
    color: #FF8552;
    text-decoration: underline;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.1em;
    line-height: 1.6rem;
}

li {
    font-size: 1.1em;
}

pre {
    padding: 1.5rem;
    background: #4F4F4F;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.275);
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.sidebar {
    position: relative;
    width: 250px;
    min-width: 250px;
    padding-left: 2.0rem;
    padding-right: 1rem;
    padding-top: 50px;

    border-right: 1px solid #EAEAEA;

    background: #F9FAFB;
}

.sidebar a {
    font-size: 1.1em;
    text-decoration: none;
    color: #797979;
}

.sidebar .project-name {
    font-weight: 600;
    font-size: 1.3rem;

    margin-top: 0px;
    margin-bottom: 80px;
}

.sidebar .project-name a {
    color: #FF8552;
}

.sidebar ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar ul li {
    margin-bottom: 40px;
}

.sidebar ul li.active {
    border-left: 2px solid #FF8552;
    padding-left: 10px;
}

.sidebar ul a {
    font-size: 1.0em;
    font-weight: 600;
}

.sidebar ul a.active {
    border-left: 2px solid #FF8552;
    padding-left: 10px;
}

.sidebar ul a:hover {
    color: #FF8552;
    text-decoration: underline;
}

.sidebar ul ul a {
    font-size: 1.0em;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wave-body {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 80px;
    width: 100%;
    background-color: #FF8552;

    color: #FFF;
    padding: 2rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    z-index: 1;
    width: 100%;
    padding-top: 50px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.content-inner {
    display: flex;
    width: 100%;
}

.content-main {
    min-width: 550px;
    max-width: 960px;
    width: 60%;
    padding-right: 5rem;
}

.content-page-nav {
    margin-left: 2rem;
    min-width: 230px;
    padding-right: 2rem;
    line-height: 2em;
    margin-top: 8rem;
}

.page-nav {
    padding-left: 20px;
    border-left: 2px solid #E6E6E6;
}

.page-nav a {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    color: #8F8F8F;
    text-decoration: none;
    display: block;
}

.page-nav a.active {
    color: #FF8552;
}

.page-nav a:hover {
    color: #FF8552;
    text-decoration: underline;
}

.page-nav a.page-nav-level-1 {
    line-height: 2.0rem;
}

.page-nav a.page-nav-level-2 {
    padding-left: 20px;
    font-size: 0.9rem;
    line-height: 1.8rem;
}

.page-nav a.page-nav-level-3 {
    padding-left: 40px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.page-nav a.page-nav-level-4
.page-nav a.page-nav-level-5 
.page-nav a.page-nav-level-5 {
    display: none;
}

.search {
    position: relative;
    margin-bottom: 3.0rem;
    width: 500px;
    max-width: 85%;
}

.search input[type='text'] {
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
}

.search #search-results {
    position: absolute;
    padding: 10px;
    padding: 0;
    background: #F2F2F2;
    border-radius: 10px;
    width: 100%;
    list-style: none;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075);
}

.search #search-results li {
    padding: 15px;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 10px;
}

.search #search-results li:hover {
    background: #F6EBFF;
}
