h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.0rem;
    margin-top: 3rem;
    color: #555454;
}

h1:first-of-type {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.7em;
    text-align: left;
    font-weight: 600;

    color: #FF8552;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3C3C3C;
}

body,
html {
    height: 100%;
}

a {
    color: #FF8552;
    text-decoration: underline;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.1em;
    line-height: 1.6rem;
}

li {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

pre {
    position: relative;
    padding: 1.5rem;
    background: #4d4c4c;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.275);
    margin-bottom: 2rem;

    overflow: auto;
}

p code {
    font-size: 0.9em;
    background: #e4e4e4;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

blockquote {
    font-size: 1.4em;
    font-style: italic;
}

blockquote::before {
    content: '›';
    display: inline-block;
    font-size: 1.4em;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    padding-right: 15px;
    float: left;
    line-height: 1.5rem;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
}

thead tr:last-child {
    font-size: 1.2rem;
}

thead tr:last-child {
    border-bottom: 1px solid #C2C2C2;
}

td,
th {
    padding: 15px;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.sidebar {
    position: relative;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding-left: 3.0rem;
    padding-right: 1rem;
    padding-top: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: #F9FAFB;
}

.menu-toggle-button-open,
.menu-toggle-button-close,
#menu-toggle-switch {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        display: inline-block;
        top: 0;
        left: -300px;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: 0;
        border: none;
        transition: all 0.15s ease;
    }

    #menu-toggle-switch:checked+.sidebar {
        left: 0px;
        box-shadow: 100px 4px 400px rgba(0, 0, 0, 0.3);
    }

    .menu-toggle-button-open {
        display: block;
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        left: 15px;
        font-size: 1.6rem;
        z-index: 2;
        height: 25px;
        width: 25px;
        background: #FF8552;
        color: white;
        padding: 10px;
        border-radius: 25px;
        line-height: 1.45rem;
        text-align: center;

        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .menu-toggle-button-close {
        display: inline-block;
        cursor: pointer;

        float: right;
        height: 20px;
        width: 20px;
        padding: 10px;

        font-size: 2rem;
        line-height: 1.15rem;

        background: white;
        color: #FF8552;
        border-radius: 20px;
        text-align: center;
        margin-top: -10px;
    }
}

.sidebar a {
    font-size: 1.1em;
    text-decoration: none;
    color: #797979;
}

.sidebar .project-name {
    font-weight: 600;
    font-size: 1.3rem;

    margin-top: 0px;
    margin-bottom: 80px;
}

.sidebar .project-name a {
    color: #FF8552;
}

.sidebar ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar ul li {
    margin-top: 2rem;
}

.sidebar ul li.active {
    border-left: 2px solid #FF8552;
    padding-left: 10px;
}

.sidebar ul a {
    font-size: 1.0em;
    font-weight: 600;
}

.sidebar ul a.active {
    border-left: 2px solid #FF8552;
    padding-left: 10px;
}

.sidebar ul a:hover {
    color: #FF8552;
    text-decoration: underline;
}

.sidebar ul ul li {
    margin-top: 1rem;
    padding-left: 2rem;
}

.sidebar ul ul a {
    font-weight: 400;
    font-size: 1.0em;
    font-family: 'Source Sans Pro', sans-serif;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wave-body {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 80px;
    width: 100%;
    background-color: #FF8552;

    color: #FFF;
    padding: 2rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    z-index: 1;
    width: 100%;
    padding-top: 50px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    border-left: 1px solid #EAEAEA;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
        min-width: 0px;
    }
}

.content-inner {
    display: flex;
    width: 100%;
}

.content-main {
    max-width: 900px;
    width: 100%;
}

.content-page-nav {
    margin-left: 2rem;
    min-width: 300px;
    padding-right: 2rem;
    line-height: 2em;
    margin-top: 8rem;
}

@media screen and (max-width: 1200px) {
    .content-page-nav {
        display: none;
    }
}

.page-nav {
    margin-left: 4rem;
    padding-left: 20px;
    border-left: 2px solid #E6E6E6;
}

.page-nav a {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    color: #8F8F8F;
    text-decoration: none;
    display: block;
}

.page-nav a.active {
    color: #FF8552;
}

.page-nav a:hover {
    color: #FF8552;
    text-decoration: underline;
}

.page-nav a.page-nav-level-1 {
    line-height: 2.0rem;
}

.page-nav a.page-nav-level-2 {
    padding-left: 20px;
    font-size: 0.9rem;
    line-height: 1.8rem;
}

.page-nav a.page-nav-level-3 {
    padding-left: 40px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.page-nav a.page-nav-level-4,
.page-nav a.page-nav-level-5,
.page-nav a.page-nav-level-6 {
    display: none;
}

.search {
    position: relative;
    margin-bottom: 3.0rem;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .search {
        width: 100%;
        max-width: 100%;
    }
}

.search input[type='text'] {
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.search #search-results {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075);
    position: absolute;
    margin-top: 0;
    padding: 10px;
    padding: 0;
    background: none;
    width: 100%;
    list-style: none;
    z-index: 5;
}

.search #search-results li {
    margin: 0;
    margin-top: -1px;
    border: 1px solid #E3E3E3;
    background: #FFF;
}

.search #search-results a {
    padding: 15px;
    width: 100%;
    display: inline-block;
    text-decoration: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search #search-results a:hover,
.search #search-results a:focus {
    background: #F4F4F4;
    outline: none;
}

.search #search-results .search-result-item-preview {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #9B9B9B;
    text-decoration: none !important;
    font-size: 1rem;
}

.search #search-results li:first-child {
    margin-top: -5px;
}

.search #search-results li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
